.Header {
  width: 100%;
  height: 100vh;
  background-color: #4169e1;
  margin-top: -22px;
  position: relative;
}

.Head-cover {
  width: 100%;
  position: absolute;
  bottom: -15px;
  z-index: 0;
}

.Header__row {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
}

.Header__col-left {
  width: 50%;
  z-index: 10;
}

.Header__col-left h1 {
  font-size: 4.5rem;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

.Header__col-left p {
  font-size: 1.2rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.Header__col-left span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Header__col-left span > *:not(:last-child) {
  margin-right: 1.5rem;
}

.Header__col-right {
  width: 50%;
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .Header__col-left span > *:not(:first-child) {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .Header__row {
    width: 90%;
  }
}

@media only screen and (max-width: 868px) {
  .Header__row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Header__col-left h1 {
    font-size: 3rem;
  }

  .Header__col-left {
    width: 100%;
    margin-bottom: 5rem;
  }

  .Header__col-right {
    width: 100%;
  }
}
